html, body {
    height: 100%;
    width:  100%;
    color: #222;
}
.display-4 {
  font-size: 2rem;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 30%;
    margin-top: .8rem;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/* Landing Section */
.landing-section {
  position: relative;
  margin-bottom: 3em;
}
.landing-section img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  object-position: center;
}
.caption {
  color: #fff;
  width: 75%;
  text-align: center;
  position: absolute;
  margin-right: -50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .caption h1 {
  font-family: MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW; /* Times New Roman */
  font-size: 1.75rem;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #000;
  margin-bottom: 0.75rem;
}
.caption h3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}
.btn {
  font-size: 0.75rem;
  color: #fff;
  padding: 0.5em;
  border-radius: 0.3rem;
  border: none;
  background: #007bff;
  text-shadow: transparent;
}
.btn-blue:hover {
  color: #fff;
  background: #005bff;
}
.btn-transparent {
  background-color: transparent;
  border: 0.1px solid #fff;
}
.btn-transparent:hover {
  background: #fff;
}

.carousel-inner img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: center;
}
.jumbotron {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.padding {
    padding-bottom: 2.5rem;
}
.section-title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.card img {
  max-width: 100%;
}
.card-body {
  background: #f8f9fa;
}
.partners {
  width: 75%;
  max-width: 500px;
  margin: 5em auto;
}
.partners h1 {
  text-align: center;
}
.partner-logos {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.partner-logos img {
  width: 40%;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}


/*---Media Queries --*/

@media (min-width: 576px) {
  .caption h1 {
    font-size: 250%;
  }
  .caption h3 {
    font-size: 200%;
  }
  .btn {
    font-size: 100%;
  }
  .display-4 {
    font-size: 250%;
  }
}

@media (min-width: 768px) {
  .caption h1 {
    font-size: 275%;
  }
  .caption h3 {
    font-size: 225%;
  }
  .btn {
    font-size: 110%;
  }
  .display-4 {
    font-size: 300%;
  }
}

@media (min-width: 992px) {
  .caption h1 {
    font-size: 300%;
  }
  .caption h3 {
    font-size: 250%;
  }
  .btn {
    font-size: 120%;
  }
  .display-4 {
    font-size: 320%;
  }
}



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
